.section {
  height: 90vh;
  width: 100%;
  padding: 32px;
}

.intro {
  background-color: #001f3f;
  color: white;
}

.about {
  background-color: #7FDBFF;
}

.contact {
  background-color: #39CCCC;
}