body, html {
  height: 100%;
  width:100%;
}

.section {
  height: 90vh;
  width: 100%;
  padding: 32px;
}

.section-body {
  height: 95vh;
  width: 100%;
  padding: 32px;
}

.jumbo {
  background-color: #001f3f;
  color: white;
}

.about {
  background-color: #7FDBFF;
}

.contact {
  background-color: #39CCCC;
}